@keyframes animgive{
    from{
        background-color: #28a745;
    }
    to {
        background-color: #212121;
    }
}
@keyframes animtake{
    from{
        background-color: #dc3545;
    }
    to {
        background-color: #212121;
    }
}
@keyframes timer {
    from{
        width: 100%;
    }
    to {
        width: 0%;
        background-color: #dc3545;
    }
}
body{
    height: 1000px;
    width: 500px;
    color: white;
}
h1{
    text-align: center;
    color: #212121;
}
h1 + p {
    color: black;
    text-decoration: none;
}
p {
    margin-left: 5%;
    text-decoration: underline;
}
.button{
    position: absolute;
    left: 47%;
}
.top{
    margin-left: 0;
    width: 100%;
    height: 25%;
    position: absolute;
    top: 144px;
    background-color: #007BFF;    
}
.bottom{
    margin-left: 0;
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 143px;
    background-color: #b40a1b;
}
.flex {
    display: flex;
}
.boardgame{
    width: 63%;
    height: 29%;
    position: absolute;
    top: 36%;
    left: 20%;
    display: flex;
    flex-direction: column;
}
.boardgame #player2b{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.boardgame #player1b{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;;
}
.boardgame * {
    height: 50%;
    width: 16%;
    text-align: center;
    z-index: 1;
}
.boardgame .hole {
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 33px;
    background-color: #212121;
}
.boardgame .hole:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.7s;
}
.boardgame .hole:hover{
    animation: swapseed;
    animation-duration: 2s;
}
.animGive {
    animation: animgive;
    animation-duration: 1.5s;
}

.animTake { 
    animation: animtake !important ;
    animation-duration: 1.5s !important ;
}
#timer {
    height: 5%;
    width: 100%;
    background-color: #BADA55;
    color: #BADA55;
    position: absolute;
    bottom: 0em;
    animation: timer;
    animation-duration: 10s;
    animation-delay: 5s;
}